@model comment_system_01.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using Newtonsoft.Json;
<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    $(function () {

        $('#comments-container').comments({

            fieldMappings: {
                id: 'CommentID',
                content: 'Context',
                parent: 'Parent',
                upvoteCount: 'Upvote_count',
                created: 'Created',
                modified: 'Modified',
                fullname: 'Name'
            },
            profilePictureURL: 'https://viima-app.s3.amazonaws.com/media/public/defaults/user-icon.png',
            currentUserId: 1,
            roundProfilePictures: true,
            textareaRows: 1,
            enableAttachments: true,
            enableHashtags: true,
            enablePinging: true,
            maxRepliesVisible: 3,

            getComments: function (success, error) {
                $.ajax({
                    type: "get",
                    url: "/Movies/GetComments/@Model.ID",
                    success: function (result) {
                        success(JSON.parse(result))
                    },
                    error: error
                });
            },

            postComment: function (commentJSON, success, error) {
                $.ajax({
                    type: 'post',
                    url: '/Movies/PostComment?MovieID=@Model.ID&UserID=1',
                    data: commentJSON,
                    success: function (result) {
                        success(JSON.parse(result))
                    },
                    error: error
                });
            }

        });
    });
</script>
<div id="comments-container"></div>
